body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
nav .brand-logo {
    height: 100%;
}
nav .brand-logo img {
    height: 100%;
    margin: 0;
}
.welcome-wrapper {
    margin: 0;
}
/*
 * Index page styles
 */
#archive-card .card .card-title {
    font-size: 20px;
    line-height: 24px;
}
.chip i.material-icons {
    cursor: auto;
    float: left;
    padding: 0;
}
.card .timestamps .badge,
.card .timestamps li {
    font-size: 13px;
}
#archive-card .card-action {
    margin-left: 0;
    margin-right: 0;
}
/*
 * Search box
 */
.search-form .input-field input {
    display: inline-block;
    width: 88%;
    transition: none;
}
.search-form .input-field input:focus {
    background-color: transparent;
    color: #fff;
}
/*
 * archive view
 */
#breadcrumbs {
    padding: 0;
}
#breadcrumbs .nav-wrapper {
    padding-left: 22px;
    padding-right: 22px;
}
#breadcrumbs .breadcrumb {
    color: #546e7a;
    &:before {
        color: #546e7a;
    }
    &:last-child {
        color: #455a64;
    }
}
#archive-content {
    padding-top: 0;
}
#archive-content .card-action {
   margin-left: 0;
   margin-right: 0;
   &>div {
      padding-bottom: 10px;
   }
}
/*
 * player in archive view
 */
#player {
    margin-top: 25px;
}
#seek-field,
#seek-field input,
#volume-field,
#volume-field input {
    vertical-align: middle;
}
.metainfo {
    font-size: 1.1rem;
}
/*
 * Create archive form
 */
#modal-progress {
    top: 35% !important;
    width: 30%;
}
#modal-progress .modal-content {
    text-align: center;
    overflow: hidden;
}
// ********************
// * ADMIN STUFF
// *******************
/*
 * Archives view
 */
.delete-archive-form {
    display: inline-block;
}
.delete-archive-form > .delete {
    border: 0;
    padding: 0;
    background-color: transparent;
}
/*
 * Categories view
 */
#categories .collection-header {
    font-weight: bold;
}
