/* don't show a thumb in proggresbar */
#player .thumb {
    display: none;
}
#player .action {
    cursor: pointer;
}
.amplitude-volume-slider {
    -webkit-appearance: slider-vertical;
}

.player-row #pause-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.player-row #pause-button .icon {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}
#seek-field, #volume-up, #volume-field {
    display: inline-block;
}

#seek-field {
    width: 50%;
}

#volume-up i {
    vertical-align: middle;
    margin-left: 20px;
    color: red;
}

#volume-field {
    width: 10%;
}
